*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    }
    header{
    background-color: #faa361;
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-family: ’Roboto’, sans-serif;
    height: 60px;
    padding: 0px 20px;
    }
    h1{
    color: white;
    }
    header ul{
    display: flex ;
    list-style: none;
    
    }
    ul a{
    color: white;
    text-decoration: none;
    border-left: 1px solid white;
    padding: 20px;
    }
    .sec1{
    background-image: url(rolls-g38ea896e2_1920.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    height: 400px;
    
    
    }
    .sec2{
    height: 500px;
    background-color: #faa361;
    position: relative;
    }
    .boxdiv{
    display: flex;
    position: absolute;
    top: -100px;
    
    
    }
    .box1{
    border-radius: 5px;
    background-color: white;
    margin: 50px;
    padding: 20px;
    }
    .box2{
    border-radius: 5px;
    background-color: white;
    margin: 50px;
    padding: 20px;
    }
    .box3{
    border-radius: 5px;
    background-color: white;
    margin: 50px;
    padding: 20px;
    }
    .menudiv{
    display: flex;
    margin-left: 50px;
    padding-top: 100px;
   
    }
    .menubar li{
    list-style-type: none;
    }
    
    .menubar{
    padding-right: 20px;
    border-right: 2px solid black;
    }
    .menupara{  
        padding-left: 20px;
        padding-top: 50px;
    }
    .menubar li{
    padding: 5px;
    margin: 20px;
    border-radius: 2px;
    background-color: white;
    }
    .submenu{
        flex-direction: column;
        position: absolute;
        background-color: #faa361;
        top: 60px;
    }
    /* .submenu  li {
        margin: 20px;
    } */
    .drop{
        flex-direction: column;
        position: absolute;
        background-color: #faa361;
        top: 40px;
        display: none;
        width: 150px;
    }
    .drop li a{
        border: none;
        width: 100%;
        display: inline-block;
        
    }
 
    nav ul{
        position: relative;
    }
    li:hover ul{
        display: flex;
    }
    ul li a:hover{
        background-color: #000;
    }
    
    